body {
  font-family: sans-serif;
  background-color: #faebd7;
  /*background-image: url("https://cloud.githubusercontent.com/assets/8678655/18235820/ba7b5fce-72dc-11e6-9445-816ca40f4a8c.png");*/
  /*background-image: url("https://cloud.githubusercontent.com/assets/8678655/18235820/ba7b5fce-72dc-11e6-9445-816ca40f4a8c.png"), linear-gradient(grey, white);*/
}

h1, h2 {
  font-family: fantasy;
}

h1 {
  position: relative;
  margin-left: 20%;
}

.user-logo {
  height: 3em;
  border-radius: 2px;
}

.game-preview {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.channel {
  border: 2px solid black;
  position: relative;
  min-height: 3em;
}

#inactive-streams .channel {
  margin-top: -2px;
  background-color: #CF7BB9;
}

#bad-accounts .channel {
  margin-top: -2px;
  background-color: grey;
}

.active {
  margin-bottom: 2em;
  background-color: #77dd77;
}

.user-container {
  display: inline;
  position: relative;
}

.user-link {
  display: inline;
  font-weight: bolder;
}

.user-name {
  position: absolute;
  left: 3.5em;
  top: 0px;
  margin-top: -2em;
}

.game-container {
  position: absolute;
  right: 5px;
  top: 1em;
  display: inline;
  text-align: center;
}

.game-name {
  font-style: italic;
  font-weight: bold;
}

.game-desc {
  font-size: small;
}

#stream-container {
  position: absolute;
  left: 20%;
  width: 60%;
  max-width: 640px;
}
